*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 18px;
    color: goldenrod;
    background: black;
}

#pics1{
    width: 550px;
    height: 400px;
}

